//====================
// Layouts
//====================
// Section
.section-wrapper {
  margin: 0 0 2rem;

  // Content
  .section-content-wrapper {
    background-color: transparent;
    
  }
}

// BG Colors
.section-wrapper {
  // White
  &.bg-white {
    background-color: $c-white;
    border-radius: 10px;
    min-height: 86px;
    padding: 1.5rem;
  }
}
