// Imports
@import "../../styles/core/variables.scss";

//====================
// Header: Navbar
//====================
header {
  .app-navbar {
    background-color: $c-white;
    min-height: $h-navbar;

    // Brand
    .navbar-brand {
      .logo {
        width: 40px;
        border-radius: 50%;
      }
    }

    // Links
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          // Avatar
          .avatar {
            width: 25px;
            border-radius: 50%;
          }
        }
      }
    }
    //
  }
}
