// Imports
@import "../../styles/core/variables.scss";

//====================
// Header: Navbar
//====================
header {
  .app-navbar {
    background-color: $c-white;
    min-height: $h-navbar;

    // Brand
    .navbar-brand {
      .logo {
        width: 40px;
        border-radius: 50%;
      }
    }

    // Links
    .navbar-collapse {
      .navbar-nav {

        // Item
        .nav-item {
          // Avatar
          .avatar {
            width: 25px;
            border-radius: 50%;
          }

          // Link Hover
          .nav-link:hover {
            color: $c-purple-m;
          }

          // Active

        }

        // Item Active
        .nav-item {
          &.active {
            .nav-link {
              color: $c-purple-m;
            }
          }
        }
      }
    }
    //
  }
}
