//====================
// Utilities
//====================
// Fonts
.fs-h1 {
  font-size: $f-h1;
}

.f-h2 {
  font-size: $f-h2;
}

.f-h3 {
  font-size: $f-h3;
}

.f-h4 {
  font-size: $f-h4;
}

.f-h5 {
  font-size: $f-h5;
}

.f-h6 {
  font-size: $f-h6;
}

.f-p {
  font-size: $f-p;
}

.f-purple-m {
  color: $c-purple-m;
}

.f-primary {
  color: $c-text-primary;
}

// Display
.hidden {
  display: none;
}

.display-inline-block {
  display: inline-block;
}

// Alignment
.vertical-align {
  vertical-align: middle;
}

// Cursor
.cursor-pointer {
  cursor: pointer;
}

// Widths
.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}
