//====================
// Utilities
//====================
// Display
.hidden {
  display: none;
}

.display-inline-block {
  display: inline-block;
}

// Alignment
.vertical-align {
  vertical-align: middle;
}

// Cursor
.cursor-pointer {
  cursor: pointer;
}

// Widths
.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}