//====================
// Utilities
//====================
// Display
.hidden {
  display: none;
}

.display-inline-block {
  display: inline-block;
}

// Alignment
.vertical-align {
  vertical-align: middle;
}

// Cursor
.cursor-pointer {
  cursor: pointer;
}
