//====================
// Containers
//====================
.app-container {
  margin: 0 auto;
  padding: 0;
  width: 95%;
}

//====================
// Wrappers
//====================
// Loader
.page-loader-wrapper {
  padding: 5rem 0;
}

// Main
.main-wrapper {
  width: 100%;

  .content-wrapper {
    padding: 0 4rem;
  }
}

// Main: Public
.main-wrapper {
  &.public-wrapper {
    background-color: $c-white;
  }
}

// Main: Public
.main-wrapper {
  &.private-wrapper {
    background-color: $c-white;
    display: flex;
    flex-direction: row;
    margin-top: $h-navbar;
    min-height: calc(100vh - $h-navbar);

    // Sidebar
    .sidebar-wrapper {
      margin-left: 0;
      transition: all 0.5s;

      // Collapsed
      &.collapsed {
        margin-left: -10.25%;
      }
    }

    // Content
    .content-wrapper {
      background-color: lightgray;
      flex-grow: 1;
      padding: 0;
      transition: all 0.5s;

      // Button: Sidebar Trigger

      // Collapse Button
      .btn-sidebar-wrapper {
        display: flex;
        justify-content: end;
        line-height: 1;
        padding: 1rem 2rem 0.5rem;

        .btn-sidebar-trigger {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin: 0;

          // Icon
          svg {
            color: $c-text-primary;
            font-size: 1.5rem;
            transition: all 1s ease-in-out;
          }
        }
      }
    }
  }
}

//====================
// Pages
//====================
// TODO: Replace this depending on visibilty: public or private page
.page-wrapper {
  margin-top: $h-navbar;
  min-height: calc(100vh - $h-navbar);
  padding-bottom: 4rem;
}

.private-page-wrapper {
  padding: 2rem 2rem;
}

.public-page-wrapper {
  margin-top: $h-navbar;
  min-height: calc(100vh - $h-navbar);
  padding: 0 2rem;
}

//====================
// Panels
//====================
.panel-wrapper {
  background-color: $c-white;
  border-radius: 10px;
  margin: 2rem 0;
  padding: 1.5rem 1.5rem;

  // Title
  .panel-title-wrapper {
    h1,
    h2,
    h3 {
      font-size: $f-h3;
      font-weight: $f-medium;
      margin: 0 0 1rem;
      text-align: center;
    }
  }

  // Content
  .panel-content-wrapper {
    background-color: transparent;
  }
}
