//====================
// Sidebar
//====================
// Sidebar (bootstrap offcanvas)
.app-sidebar {
  min-width: 25%;
  width: auto;

  // Header
  .app-sidebar-header {
    align-self: end;

    .btn-close {
      background-image: none;
      box-shadow: none;
      font-size: 1.5rem;
      outline: none;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  // Body
  .app-sidebar-body {
    padding: 0;

    // Sidebar Navigation
    .sidebar-navigation-wrapper {
      .sidebar-navigation {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .sidebar-navigation-item {
          // Link
          .sidebar-navigation-link {
            align-items: center;
            background-color: $c-white;
            color: $c-text-primary;
            display: flex;
            gap: 0.5rem;
            padding: 0.5rem 1rem;

            .link-icon {
              font-size: $f-h5;
            }

            .link-text {
              font-size: $f-h5;
            }
          }

          // Hover
          .sidebar-navigation-link:hover {
            background-color: $c-purple-m;
            color: $c-white;
          }

          // Active
          .active {
            background-color: $c-purple-m;
            color: $c-white;
          }
        }
      }
    }

    .list-group-item:hover {
      background-color: $c-purple-m;
      color: $c-white;
    }
  }
}