// Imports
@import "../../../styles/core/variables.scss";

//====================
// Work Orders
//====================
//--------------------
// Index (All Work Orders)
//--------------------
.work-orders-wrapper {
  .work-orders-content-wrapper {
    // Card
    .work-order-card-wrapper {
      background-color: $c-white;
      border-radius: 10px;
      box-shadow: var(--bs-box-shadow);
      flex-direction: column;
      display: flex;
      margin: 0 0 2rem;
      width: 100%;

      // Header
      .work-order-card-header {
        // Card Color Status
        .color-status-bar {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          height: 5px;
          width: 100%;

          // Color Status
          // Status: ["pending", "accepted", "rejected", "inProgress", "closed"],
          &.pending {
            background-color: $c-yellow;
          }
          &.accepted {
            background-color: $c-purple-m;
          }
          &.reschedule {
            background-color: $c-red;
          }
          &.in-progress {
            background-color: $c-aqua;
          }
          &.closed {
            background-color: $c-text-secondary;
          }
        }

        // Header Actions
        .header-actions {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0.5rem 1.5rem;

          .header-action {
            font-size: 1.1rem;
          }
        }
      }

      // Body
      .work-order-card-body {
        padding: 0 1.5rem 1rem;
        text-align: center;

        p {
          font-size: 1rem;
          margin: 0;
        }

        .name {
          font-size: $f-h4;
          margin: 0 0 0.5rem;
          text-align: center;
        }

        .project {
          color: $c-text-secondary;
        }
        .date {
          color: $c-text-secondary;
        }
        .user {
          color: $c-text-secondary;
        }

        // Work Order Status
        .work-order-status {
          border-radius: 5px;
          display: inline-block;
          margin: 0 0 1rem;
          padding: 0.25rem 1rem;

          // Color Status
          // Status: ["pending", "accepted", "rejected", "inProgress", "closed"],
          &.pending {
            background-color: $c-yellow;
            color: $c-text-primary;
          }
          &.accepted {
            background-color: $c-purple-m;
            color: $c-white;
          }
          &.reschedule {
            background-color: $c-red;
            color: $c-white;
          }
          &.in-progress {
            background-color: $c-aqua;
            color: $c-text-primary;
          }
          &.closed {
            background-color: $c-text-secondary;
            color: $c-white;
          }

          .status {
            margin: 0;
          }
        }
      }

      // Footer
      .work-order-card-footer {
        padding: 0 1.5rem 1rem;

        // Actions
        .footer-actions {
          background-color: transparent;

          // Reschedule Form
          .reschedule-form-wrapper {
            .form {
              margin: 0.5rem 0 0;

              p {
                margin: 0;
              }
            }
          }
        }
      }
    }

    // Card: Hover
    .work-order-card-wrapper:hover {
      box-shadow: var(--bs-box-shadow-lg);
      transition: all 0.3s ease;
    }
  }
}

//--------------------
// Show
//--------------------
.work-order-wrapper {
  // Work Order Status
  .work-order-status {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    padding: 0.25rem 1rem;

    // Color Status
    // Status: ["pending", "accepted", "reschedule", "inProgress", "closed"],
    &.pending {
      background-color: $c-yellow;
      color: $c-text-primary;
    }
    &.accepted {
      background-color: $c-purple-m;
      color: $c-white;
    }
    &.reschedule {
      background-color: $c-red;
      color: $c-white;
    }
    &.in-progress {
      background-color: $c-aqua;
      color: $c-text-primary;
    }
    &.closed {
      background-color: $c-text-secondary;
      color: $c-white;
    }

    .status {
      margin: 0;
    }

    p {
      font-size: 0.9rem;
    }
  }

  // Work Order
  .work-order-content {
    // Image + Info
    .work-order-image-info-wrapper {
      border-radius: 10px;
      flex-direction: row;
      display: flex;

      // Image
      .work-order-image-wrapper {
        // flex: 1;
        display: flex;
        justify-content: center;
        width: 35%;

        .work-order-cover {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
          // height: auto;
          min-height: 200px;
          max-height: 100%;
          max-width: 100%;
          object-fit: cover;
          // height: 250px;
          width: 100%;
        }
      }

      // Info
      .work-order-info-wrapper {
        background: $c-white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        flex: 1;
        min-height: 200px;
        padding: 1rem 1.5rem;

        // Title
        .work-order-title-wrapper {
          display: flex;
          justify-content: space-between;

          h1 {
            font-size: $f-h2;
            font-weight: $f-medium;
            line-height: 1;
            margin: 0;
          }

          .btn-app-sm {
            height: 2rem;
            line-height: 1.75rem;
            min-width: 22%;
          }
        }

        // Status
        .work-order-status {
          h2 {
            display: inline-block;
            font-size: $f-h6;
            font-weight: $f-regular;
            margin: 0.25rem 0 0;
            opacity: 0.5;
          }
        }

        // Work Order Counters & Actions
        .work-order-counters-wrapper {
          align-items: center;
          display: flex;
          justify-content: space-between;

          // Counters
          .counters-wrapper {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .work-orders-counter {
              p {
                margin: 0;
              }

              h2 {
                display: inline-block;
                font-size: $f-h6;
                font-weight: $f-regular;
                margin: 0;
                opacity: 0.5;
              }
            }
          }

          // Actions
          .work-order-actions {
            .btn-app-sm {
              height: 2rem;
              line-height: 1.75rem;
            }
          }
        }

        // Description
        .work-order-description {
          p {
            font-weight: $f-light;
            margin: 0;
          }
        }
      }
    }
  }

  // Work Order Logs
  .work-order-logs-content {
    .work-order-logs-wrapper {
      padding-left: 0.5rem;
      padding-right: 1rem;

      // Logs Panel
      .logs-panel {
        background-color: $c-white;
        border-radius: 10px;

        // Nav Pills
        .logs-panel-navigation {
          background-color: $c-purple-d;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
          padding: 2rem 0;

          .app-nav-pills {
            .nav-link {
              color: $c-white;
              border-radius: 0;
            }

            .nav-link {
              &.active {
                background-color: $c-aqua;
                color: $c-text-primary;
              }
            }
          }
        }

        // Nav Content
        .logs-panel-content {
          background-color: $c-white;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
          max-height: 75vh;
          overflow-y: auto;
          padding: 0;

          // Tab Content
          .app-tab-content {
            padding: 2rem;

            // Log
            .log-wrapper {
              // Header
              .log-header {
                // Title
                .log-title {
                  h3 {
                    margin: 0;
                    text-transform: capitalize;
                  }
                }

                // Date
                .log-date {
                  h4 {
                    color: $c-text-secondary;
                    font-size: $f-p;
                    font-weight: $f-regular;
                    margin: 0.5rem 0;
                  }
                }
              }

              // Body
              .log-body {
                // Comment
                .comment {
                  p {
                    margin: 0 0 1rem;
                  }
                }

                // Images
                .images-wrapper {
                  .image-wrapper {
                    display: inline-block;
                    .image {
                      height: 146px;
                      margin: 0 0 2rem;
                      width: 100%;
                    }
                  }
                }
              }

              // Footer
              .log-footer {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

//--------------------
// New / Update
//--------------------
.work-orders-form-wrapper {
  background-color: transparent;
}
